  .parent {
    display: grid;
    /* grid-template-columns: 15% 30% 27.5% 27.5%; */
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px  200px 600px 200px;
    /* grid-template-rows: 1fr 2fr 1fr; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 5; }
    .div3 { grid-area: 2 / 1 / 5 / 2; }
    .div4 { grid-area: 2 / 2 / 4 / 5; }
    .div5 { grid-area: 4 / 2 / 5 / 5; }


  .div1 {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .div2 {
    display: flex;
    flex-direction: column;
    background-color: orange;
    align-items: center;
  }
  .div3 {
    display: flex;
    flex-direction: column;
    background-color: purple;
    align-items: center;
  }

  .div4 {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    background-color:lightgreen;
    justify-content: center;
    overflow-x: scroll;
  }

  .div5 {
    display: flex;
    background-color:yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: scroll;
  } 

  /* #navComponent {
    color: "black";
    
    /* display: inline, */ 
    /* no effect */

  /* } */ */

  .inputOverride:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 20, 214, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 20, 214, 0.6);
  }