  .parent {
    display: grid;
    /* grid-template-columns: 15% 30% 27.5% 27.5%; */
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px  200px 600px 200px;
    /* grid-template-rows: 1fr 2fr 1fr; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    /*************** GRIDDING ******************/

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 5; }
    .div3 { grid-area: 2 / 1 / 4 / 5; }
    .div4 { grid-area: 4 / 1 / 5 / 5; }

/* .div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 4 / 5; }
.div3 { grid-area: 4 / 1 / 5 / 5; } */



  .div1 {
      display: flex;
      align-items: flex-end;
      /* background-color: lightpink; */
      border-bottom-style: solid;
    border-color: purple;
      justify-content: flex-start;
  }

  .div2 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
    border-bottom-style: solid;
    border-color: purple;
    /* background-color: lightpink;  */
  }
  /* .div2 {
    display: inline;
    /* flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end; 
    border-bottom-style: solid;
    border-color: purple;
    background-color: orange;
  } */

  /* .div3 {
    display: flex;
    flex-direction: column;
    background-color: purple;
    align-items: center;
  } */

  .div3 {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    background-color:lightpink;
    /* justify-content: center; */
    overflow-x: scroll;
  }


  .div4 {
    display: flex;
    background-color:lightpink;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* white-space: nowrap; */
    overflow-x: scroll;
  } 
  
  .div3::-webkit-scrollbar {
    display: none;
  }

  #header {
    margin-top: 50px
  }

  .journlTitle {
    padding: 10px
  }
  #signupComponent {
    /* display: flex;
    align-self: center; */
    /* justify-content: center; */
    margin-top: 2%; 
    margin-left: 38%;
    padding: 10px;
    width: 25%;
    /* text-align: center */
    /* margin-bottom: 100px;	 */
  }

  #loginComponent {
    margin-top: 5%;
    margin-left: 42%;

  }

  .description {
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    margin-top: 3%
  }


  .dreamCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    float: left;
  }

  .mediaCard {
    width: 30%;
    height: 30%;
    padding: 4%;
    margin-right: 30px;
    /* border: 2px solid white;
    border-radius: 3%;
    box-shadow: 1px 1px 1px 2px lightgrey  */


  }

  .homePage {
    width: 100%;
    text-align: center
  }

  .addDream {
    /* text-align: center; */
    margin: 50px 0;
    /* float: right */
  }

  .searchComponent {
    float: left;
    /* text-align: center; */
    border-right-style: dotted;
    /* padding-right: 5%; */
  }

  .navComponent {
    background-color: pink;
    float: right;
  }

  .journalList {
    text-align: center;
    margin-top: 50px

  }

  .createJournal {
    text-align: center
  }


  .pieChart {
    display: flex; 
    /* justify-content: space-between; */
    /* justify-content: flex-start;  */
    /* flex-direction: column; */
    /* flex-wrap: wrap;  */
    width: 100%;
    margin: 50px;
    padding: 1%;
    /* border: solid; */
    float: left;

  }
  /* .sc-bdfBwQ .hIbLTY {
    align-self: flex-end !important;
    position: fixed;
    left: 0

  } */

  /* .sidebar {
    position: fixed !important;
    left: 0 !important;
    margin-left: 0
  } */

  .inputOverride:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 20, 214, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(127, 20, 214, 0.6);
  }

  /************************ PROFILE CARD ************************/

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);


	/* body {
	    font: 300 13px/1.6 Roboto, Helvetica, Arial;
	    color: #444;
	    position: relative;
	    background: #448AFF;
	    height: 100vh;
	    text-align: center;
		background: #3f51b5;

		background: url('http://ali.shahab.pk/blur.php?img=http://ali.shahab.pk/ali-shahab.jpg&x=250') no-repeat center center;
		background-size: cover;
	} */
	/* body:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,.5);
		z-index: -1
	} */

	img {
	    -ms-interpolation-mode: bicubic;
	    vertical-align: middle;
	    border: 0;
	}

	.profile-card{
		width: 300px;
		border-radius: 2px;
		overflow: hidden;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
		position: relative;
		margin: auto;
		background: rgba(255,255,255,1);
		top: 25%;
		transform: translateY(-50%);
	}

	.profile-card header{
		display: block;
		position: relative;
		background: rgba(255,255,255,1);
		text-align: center;
		padding: 30px 0 20px;
		z-index: 1;
		overflow: hidden;
	}

	.profile-card header:before{
		content: "";
		position: absolute;
		background-size: cover;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		
	}

	.profile-card header:after{
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: linear-gradient(
		    to bottom,
		    rgba(255, 255, 255, 0) 0%,
		    rgba(255, 255, 255, 1) 100%
		);
	}

	.profile-card header img{
		border-radius: 100%;
		overflow: hidden;
		width: 150px;
		/*border: 1px solid rgba(255,255,255,.5);*/
		box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
	}

	.profile-card header h1{
		font-weight: 200;
		font-size: 42px;
		color: #444;
		letter-spacing: -3px;
		margin: 0;
		padding: 0;
	}

	.profile-card header h2{
		font-weight: 400;
		font-size: 14px;
		color: #666;
		letter-spacing: .5px;
		margin: 0;
		padding: 0;
	}

	.profile-card .user-birthday{
		padding: 0 30px;
		text-align: center;
		color: #888;
	}